

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Scene Understanding
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      Location

    </ion-card-header>
    <ion-card-content>
      You are in the BioImaging Lab. 
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      Fixed Description
    </ion-card-header>
    <ion-card-content>
      The room contains several work benches and equipment.
      There are posters on the wall. 
    </ion-card-content>
  </ion-card>

  <ion-card>
  <ion-card-header>
      Dynamic Description
    </ion-card-header>
    <ion-card-content>
      There is a person to the left. 
      There is a person near the presentation area. 
      There is a person in the middle of the room. 
      There is a desk at the south of the room. 
      There is a desk at the south of the room. 
      There is a desk to the right of the room. 
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
          Sensors
        </ion-card-header>
    <ion-card-content>
     The room temperature is 22 degrees. 
     Relative humidity level is 45%.
     The lights are on. Light intensity is high. 
    </ion-card-content>
  </ion-card>
<!--
  Location: <input [(ngModel)]="locationName" type="text"><br>
  <ion-button   (click)="wifiscan()"> Scan </ion-button>
  <ion-button   (click)="storescan()"> Store </ion-button>


  Current Location: {{foundLocation}}<br>
  <ion-button   (click)="locate()"> Locate </ion-button>

    <ion-card>
      <ion-card-header>
          Turn by Turn Indoor Directions
        </ion-card-header>
        <ion-card-content>
         <h1> {{Direction}} </h1>
        </ion-card-content>
    </ion-card>


  <ion-list>
    <ion-item *ngFor="let network of networkList">
      <ion-card>
        <ion-card-header>
          {{network.SSID}} ({{network.BSSID}})
        </ion-card-header>
        <ion-card-content>
          {{network.level}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list> 

-->
</ion-content>
